div.img {
display: inline-block;
max-width: 100%;
box-sizing: border-box;
margin: 13px;
float: left;
border: 1px solid #0C2154;
background: #fffcfc;
position: relative;
border-radius: 4px;
height: auto;
width: 22%;
background-color: #c5d1d8;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 25px;
}

div.img img {
   display: inline-block;
margin: 13px;
width: 180px;
height: 123px;
}

p.desc {
  padding: 4px 2px;
text-align: center;
box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1);
background: #FFF;
white-space: normal;
overflow: hidden;
text-overflow: ellipsis;
width: auto;
height: auto;
}

div.desc{
padding: 2px 3px;
text-align: center;
box-shadow: 0 1px 3px rgba(246, 249, 246, 0.1);
white-space: normal;
overflow: hidden;
text-overflow: ellipsis;
width: auto;
height: auto;
}
