.inersrc img{
	 border-radius: 78px;
	 margin-left: 36px;
	 width:100px;
}


.inersrc {
	width: 178px;
	float:left;
	margin-right: 15px;
	border-color: #9B9590
	

}

.san{
	margin-left: 36px;
}
/*.btn {
  width:150px;
  background: lightblue;
}*/
.username{
	text-align: center;
}

.email{
	text-align: center;

}
