.spl 
{
	width: 222px;
	height: 225px;
	float:left;
	margin-right: 15px;
	margin-left: 42px;
	border-color: #9B9590;
}
.spl img {
	border-radius: 62px;
	width: 136px;
	margin-left: 13px;
	height: 123px;
}
.username{
	margin-left: 52px;
}
.email{
	margin-left: 52px;
}
.butn{
	font-size: inherit;
	margin-left: 24px;
}